# Ignore .htaccess as it may differ on dev environments
.htaccess
# Ignore configuration files that may contain sensitive information
settings.php
# Ignore SASS cache files
.sass-cache*
# Ignore .DS_Store files
.DS_Store
